<div>
  <br>
  <mat-card>
      
    <section class="mat-typography">
      <h3>Enter the ZipCode</h3>
    </section>
    <mat-divider></mat-divider>
    <br>

    <form [formGroup]="createForm" class="create-form">

       <mat-form-field class="field-full-width">
        <input type ="text" pattern="\d*" maxlength="5" required matInput  placeholder="zip" formControlName="zip" #zip>
       
      </mat-form-field>
<!-----
      <mat-form-field class="field-full-width">
        <input matInput placeholder="ip" formControlName="ip" #ip>
      </mat-form-field>
--->

    
  

      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/display">DataBase Contents</button>&nbsp;
      <button type="submit" (click)="addData(zip.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card>
</div>

 